doctype
html
  head
    meta(charset='UTF-8')
    title 首頁 - 王者咖啡
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='./css/style.css')

  body

    .title-block
      .title-text-chinese 限時折扣
      .title-text-english SALE
      .title-hr

    .title-block.mt-24px
      .title-text-chinese 熱門主打
      .title-text-english HOT
      .title-hr

    .container
      a(href="https://kingcoffee.cyberbiz.co/account/login")
        img.banner-pubilc.index-member-banner.d-lg-block.d-none(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_abad067a-b1b6-4848-8e72-08e8a3319a23.png")
        img.banner-pubilc.index-member-banner.d-lg-none.d-block(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_349a1661-a3c4-40d7-81b3-a6b3a371efe3.png")

    .container
      .row
        .col-6.mb-16px(style="padding-right: 8px;")
          a(href="https://kingcoffee.cyberbiz.co/collections/instant-cafe-sua")
            img.banner-pubilc.d-lg-block.d-none(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_4f0092dc-7a2e-41ff-9d42-2b1add7fd0dd.jpg")
            img.banner-pubilc.d-lg-none.d-block(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_6fd1b8c3-102d-4f98-811a-75f29b421efb.jpg")
        .col-6.mb-16px(style="padding-left: 8px;")
          a(href="https://kingcoffee.cyberbiz.co/collections/instant-cafe")
            img.banner-pubilc.d-lg-block.d-none(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_cf30a42f-c90b-42ef-88cf-efbc417bc0ad.jpg")
            img.banner-pubilc.d-lg-none.d-block(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_cd8eb7c6-701c-4cae-a677-d4b090ac9f5e.jpg")
        .col-6.mb-16px(style="padding-right: 8px;")
          a(href="https://kingcoffee.cyberbiz.co/collections/pure-black-cafe")
            img.banner-pubilc.d-lg-block.d-none(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_6c2587e2-6542-4f76-a8b2-b478a8ac2787.jpg")
            img.banner-pubilc.d-lg-none.d-block(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_83f139b9-4904-407b-ab7c-84bb65b63b19.jpg")
        .col-6.mb-16px(style="padding-left: 8px;")
          a(href="https://kingcoffee.cyberbiz.co/collections/rtd-can")
            img.banner-pubilc.d-lg-block.d-none(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_b151fb3c-8d51-4fe6-aaac-69fe0e840be2.jpg")
            img.banner-pubilc.d-lg-none.d-block(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_0fd1d4d3-e1a9-425e-8eb3-f8bdd06dd924.jpg")
    
    .container-fluid
      .row
        .col-lg-6.index-about-us-img01.bg-basic
        .col-lg-6.bg-red.index-about-us-text-block
          .title-text-chinese.white.mb-8px 「TNI King Coffee呈上世界級的咖啡體驗」
          .fz-18px.white.content-text 越南是全球第二大咖啡出口國，我們自豪於成為越南最主要的咖啡製造商，立志於將王者般的咖啡體驗推廣至包括美國、韓國、澳洲、俄羅斯、中國以及新加坡等超過120個地區。TNI King Coffee在各地區大受好評，除了2020拿下全球第二大咖啡商的殊榮外。我們還是全球最受歡迎咖啡品牌的第一名，深受許多咖啡專業人士與愛好者的喜愛。
      .row
        .col-lg-6.index-about-us-img02.bg-basic.d-lg-none.d-block
        .col-lg-6.bg-red.index-about-us-text-block
          .title-text-chinese.white.mb-8px 滿足全球市場對於TNI King Coffee的味蕾
          .fz-18px.white.content-text 不同於其他咖啡品牌，TNI King Coffee在越南擁有自己的工廠與生產線，從傳統的即溶咖啡粉至時下最流行的膠囊咖啡皆有獨家技術保存香氣與越南特色口感，使用的咖啡原豆與研磨技術都能保留最原始咖啡的風味，並獲得一至好評，滿足全球市場對於TNI King Coffee的期待與愛好者的味蕾。<br>從2016年TNI King Coffee誕生開始，我們就以王者般的速度登上全球發展最快的品牌寶座。除市場發展，TNI King Coffee也持續在為社會做貢獻，除了創造具有價值的品牌外，回饋社會也是TNI King Coffee必達的使命。
        .col-lg-6.index-about-us-img02.bg-basic.d-lg-block.d-none


    .container
      .row
        .col-lg-6
          iframe.index-video(src='https://www.youtube.com/embed/VV1Rv37SfWA' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        .col-lg-6.d-lg-block.d-none
          iframe.index-video(src='https://www.youtube.com/embed/UszTqhNH_0M' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')



    .title-block.mt-40px
      .title-text-chinese 最新消息
      .title-text-english NEWS
      .title-hr


    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js' integrity='sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js' integrity='sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ' crossorigin='anonymous')
    script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='./js/social.js')
