doctype
html
  head
    meta(charset='UTF-8')
    title 王者國際 - 王者咖啡
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
    link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')
    link(rel='stylesheet' href='./css/style.css')

  body
    .page-banner-big.page-banner-international.bg-basic(data-aos='fade-in' data-aos-duration='1500')
      .container-1140
        .page-banner-title(style="color: #634140; text-shadow: none;") 王者咖啡國際
        .page-banner-sub-title(style="color: #634140;") KING COFFEE INTERNATIONAL

    .container-fluid
      .row
        .col-lg-3.international-content-block(data-aos='fade-in' data-aos-duration='1500')
          .international-content-title 國際市場上<br>發展迅速
          .international-content-text 僅僅五年，已經在越南國內市場與國際市場上發展迅速。其中國際市場更是不斷擴張，佔領超出 120 個地區市場，擁有3000多名員工。

        .col-lg-6.international-country(data-aos='fade-in' data-aos-duration='1500')
          .international-country-image-block
            img.international-country-image(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_4c7e7f2f-9c4a-4503-84b5-167b3f5f20e0.png", alt="越南")
          .international-country-section
            .international-country-block
              img.international-country-flag(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_c50d8f82-4ebc-4027-905a-6571504aaf5c.png", alt="越南國旗")
              .international-country-name-block
                .international-country-name KING COFFEE VN
                .international-country-name 越南
            .international-country-text.d-lg-block.d-none GLOBAL

        .col-lg-3.international-country(data-aos='fade-in' data-aos-duration='1500')
          .international-country-image-block
            img.international-country-image(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_16994753-f294-4a76-81bb-fbf7f15e5fe0.png", alt="英國")
          .international-country-section
            .international-country-block
              img.international-country-flag(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_fe04e5cd-183c-48a0-a84b-7153e1d0ab3c.png", alt="英國國旗")
              .international-country-name-block
                .international-country-name KING COFFEE UK
                .international-country-name 英國
            .international-country-text.d-lg-block.d-none GLOBAL

        .col-lg-6.international-country(data-aos='fade-in' data-aos-duration='1500')
          .international-country-image-block
            img.international-country-image(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_6cef2b96-f3e5-498f-a28e-54a1e3f3f72f.png", alt="美國")
          .international-country-section
            .international-country-block
              img.international-country-flag(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_72d5a872-6010-4fdc-9273-647c83fa1e90.png", alt="美國國旗" style="object-position: 30%;")
              .international-country-name-block
                .international-country-name KING COFFEE USA
                .international-country-name 美國
            .international-country-text.d-lg-block.d-none GLOBAL

        .col-lg-6.international-country(data-aos='fade-in' data-aos-duration='1500')
          .international-country-image-block
            img.international-country-image(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_e521d0a1-90d3-4309-951e-c714a61f464d.png", alt="中國")
          .international-country-section
            .international-country-block
              img.international-country-flag(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_b7e4ab88-2e53-434a-99bf-cb28fa35f21e.png", alt="中國國旗" style="object-position: 0%;")
              .international-country-name-block
                .international-country-name KING COFFEE CHINA
                .international-country-name 中國
            .international-country-text.d-lg-block.d-none GLOBAL

        .col-lg-3.international-country(data-aos='fade-in' data-aos-duration='1500')
          .international-country-image-block
            img.international-country-image(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_f81df98e-a809-4eaa-8885-2d43946bb142.png", alt="法國")
          .international-country-section
            .international-country-block
              img.international-country-flag(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_46ea86f0-a24a-4040-99e2-aeec58450394.png", alt="法國國旗")
              .international-country-name-block
                .international-country-name KING COFFEE FRANCE
                .international-country-name 法國
            .international-country-text.d-lg-block.d-none GLOBAL

        .col-lg-3.international-country(data-aos='fade-in' data-aos-duration='1500')
          .international-country-image-block
            img.international-country-image(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_17fdd800-8802-4f63-a90a-7865846f9496.png", alt="日本")
          .international-country-section
            .international-country-block
              img.international-country-flag(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_0530f22f-fdfd-4d4c-a69c-6b65a333c224.png", alt="日本國旗")
              .international-country-name-block
                .international-country-name KING COFFEE JAPAN
                .international-country-name 日本
            .international-country-text.d-lg-block.d-none GLOBAL

        .col-lg-6.international-country(data-aos='fade-in' data-aos-duration='1500')
          .international-country-image-block
            img.international-country-image(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_3519b89b-6629-4d44-b7ff-fa30c619d4ed.png", alt="阿拉伯聯合大公國")
          .international-country-section
            .international-country-block
              img.international-country-flag(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_72869966-4db6-4e89-8ab0-983ac817d62b.png", alt="阿拉伯聯合大公國國旗" style="object-position: 0%;")
              .international-country-name-block
                .international-country-name KING COFFEE UAE
                .international-country-name 阿拉伯聯合大公國
            .international-country-text.d-lg-block.d-none GLOBAL


  script
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous")
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://unpkg.com/popper.js')
    script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
  script.
    AOS.init();

  style.
    #site_path{
      display:none;
    }

    #page .container {
      max-width: 100%;
      padding: 0;
    }