doctype
html
  head
    meta(charset='UTF-8')
    title 購物須知 - Mazendo
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='./css/style.css')

  body
    img.pages-banner.object-fit-cover(src="https://cdn.cybassets.com/s/files/21968/ckeditor/pictures/content_25dfdf32-2ff0-4bd0-8ff6-4639f84c057e.jpg")

    .title-block.mt-40px
      .title-text-chinese 購物須知
      .title-text-english NOTICE
      .title-hr

    .container-1140.mt-40px
      .terms-title 【付款方式】
      .terms-content
        li 信用卡即時線上一次刷卡付款 方便又好用的付款方式，當您選擇線上刷卡方式進行交易時，作業流程透過SSL加密機制，保障您的個人隱私資料。
        li 超商付款取貨 適合不方便在家收貨或者不方便使用ATM與無信用卡的消費者。
        li ATM付款 適用沒有信用卡或者不方便前往超商取貨付款的消費者。使用ATM付款方式只需將訂單款項透過實體/網路ATM或者網路銀行直接匯入系統指定帳號即可完成付款。
        li LINE Pay 付款不需輸入信用卡資訊及3D驗證，僅需輸入專屬密碼即可使用信用卡進行付款，節省您的付款時間。
        li 街口支付 請先備妥您行動裝置中的街口支付應用程式，可使用街口儲值帳戶/銀行帳戶，並搭配街口幣進行付款。

      .terms-title 【運送方式】
      .terms-content 1. 本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義務者，將會受到相關的法律處分。
      .terms-content 2. 以 黑貓宅急便／其他宅配／超商（7-ELEVEn、全家）物流 寄送商品。
      .terms-content 3. 配送範圍限台灣本島各縣市（不含郵政信箱）。
      .terms-content.mb-40px 4. 如本店無法接受您的訂單，將於收到您的訂單後2個工作日內通知您。但法令另有規定者除外。

    style.
      #site_path{
      display:none;
      }
      #page .container {
      max-width: 100%;
      padding: 0;
      }

    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js' integrity='sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js' integrity='sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ' crossorigin='anonymous')
    script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='./js/social.js')
